# Python
__pycache__/

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Obsolete files and directories
*_OBSELETE*
*_OBSELETE/
*_DELETE*
*_DELETE/

# Chatbot conversation history
chatbot_ui/conversations
.chainlit

# Docker Volumes
**/volumes/
infrastructure/volumes/
volumes/